@import "../../App.css";

.navbar {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-l) 0;
  padding-bottom: 0px;
}

.navlist {
  list-style: none;
  display: flex;
}

.navitems {
  padding: 0 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: var(--fs--2);
  color: var(--Dark-grayish-blue);
  transition: color 0.2s ease;
}

.categories {
  padding-right: 0;
}

.navitems:hover {
  cursor: pointer;
  color: var(--Soft-orange);
}
